/Image Server/IRTEX_Image_Core/nbproject/private/
/Image Server/IRTEX_Console_Test/nbproject/private/
/Image Server/IRTEX_Image_Core/build/
/Image Server/IRTEX_Console_Test/build/
/Image Server/IRTEX_Image_Core/dist/
/Image Server/IRTEX_Console_Test/dist/
/Image Server/background_substractor/nbproject/private/