/*Button Classes*/

.BtnDivClass {
    text-align: center;
}

.BtnClass, .BtnClass:hover {
    /* background-color: RGB(79, 129, 189) !important; */
    background-color: white !important; 
    color: rgba(58, 177, 213, 1) !important;
    border: 1px solid rgba(58, 177, 213, 1) !important;
    /* border: none !important;
    color: white !important; */
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    /* display: inline-block !important; */
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    font-weight: bolder;
}

/*End Of Button Classes*/

/*File classes*/

/*End Of File classes*/

/* media query for growing and shrinking */

@media (max-width: 600px) {
    .searchSubDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column
    }
}

/* End of media query for growing and shrinking */

/* Start of Table Classes */

table.datatable {
    border-collapse: collapse !important;
}

.trsingleDiv{
    /* border: 1px solid black !important; */
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 1px 6px;
    /* background-color: rgba(243, 248, 255, 1) !important; */
    margin-bottom: 1em;
}

.irtexdbClass {
    /* display: none; */
    width: 85% !important;
    display: table;
    float: left;
}

.TheadClass {
    text-align: center;
}

.tableImgClass {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    height: 12em;
    width: 16em;
}

.dataTables_wrapper {
    /* width: 70%; */
    margin: auto;
}

.row {
    display: flex;
}

/* explain button styles in table */
.ExplainBtnClass, .ExplainBtnClass:hover{
    /* background-color: rgba(58, 177, 213, 1) !important; */
    background-color: white !important; 
    color: rgba(44, 113, 161, 1) !important;
    border: 1px solid rgba(44, 113, 161, 1) !important;
    /* border: none !important;
    color: white !important; */
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    font-weight: bolder;
}
/* End of explain button styles in table */

/* visual explanation compare button styles in table */
.VisualBtnClass, .VisualBtnClass:hover {
    /* background-color: rgb(238, 130, 238) !important;
    border: none !important;
    color: white !important; */
    background-color: white !important; 
    color: rgba(44, 113, 161, 1) !important;
    border: 1px solid rgba(44, 113, 161, 1) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    font-weight: bolder;
}
/* ENd of visual explanation compare button styles in table */

/* visual explanation close button in popup styles in table */
.visualCloseBtn, .visualCloseBtn:hover {
    background-color: RGB(46, 101, 38) !important;
    color: white !important;
    padding: 9px 12px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    cursor: pointer !important;
    opacity: 1 !important;
    text-shadow: none !important;
}
/* End of visual explanation close button in popup styles in table */

.match-row {
    padding: 10px 0;
    /* margin: 0 2px 24px 2px; */
}

.match-thumb {
    padding: 0;
    text-align: center;
    width: 160px;
    margin-right: 16px;
}

.match {
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 0;
}

/* End Of Start of Table Classes */

/* to hide the watermakr by zingchart */

#visualdialog-license-text {
    display: none !important;
}

/********************************************** Loader Classes *********************************************************/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../Images/Loader.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
    background: rgba( 255, 255, 255, .8) url('../Images/Loader.gif') 50% 50% no-repeat;
}

/********************************************** End Of Loader Classes *********************************************************/


/* New Classes for better view*/
.search-container{
    background-color: rgba(44, 113, 161, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-container .imageSearchDiv {
    z-index: 100;
    position: relative;
    color: #fff;
}

.search-container .imageSearchDiv .formsDiv {
    position: relative;
    overflow: hidden;
}

.search-container .imageSearchDiv #formupload-button {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    background-color: #3572af;
    background-position: -10px -10px;
    background-repeat: no-repeat;
    background-image: url(../Images/upload.png);
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-container .imageSearchDiv #formupload_box {
    position: fixed;
    top: -1000px;
}

.search-container .imageSearchDiv .input-container {
    position: absolute;
    left: 50px;
    right: 38px;
}

.search-container .imageSearchDiv .image-url {
    display: block;
    float: left;
    color: #333;
    width: 100%;
    overflow: hidden;
    height: 40px;
    padding: 10px;
    margin: 0;
    outline: 0;
    border: none;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.search-container .imageSearchDiv .submit-button {
    display: block;
    position: absolute;
    right: 0;
    background-color: #3572af;
    background-position: -12px -10px;
    background-repeat: no-repeat;
    background-image: url(../Images/search.png);
    min-width: 40px;
    height: 40px;
    margin: 0;
    outline: 0;
    border: none;
    border-left: 1px solid #fff;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    opacity: 1;
}

.customh1 {
    /* font-size: calc(2.8em + 2.6vw); */
    font-weight: 100;
    letter-spacing: .01em;
    /* padding: 10rem 0 0 4.5rem; */
    text-shadow: 0.022em 0.022em 0.022em #111;
    color: #fff;
}

.imgVerCenter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.modalVertical{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center
}

/* End Of New Classes for better view*/

/* slideshow classes */
.carImgHeight{
    max-height: 100% !important;
    max-width: 100% !important;
    margin: auto !important;
    height: 20em !important;
    cursor: pointer;
    /* width: 16em !important; */
}


/* classes for default cookies modal */

#cookieModal h2:first-child {
    color: rgba(238, 75, 90, 1);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cookieBtn {
    margin-bottom: 0;
    text-align: right;
}

#cookieModal button {
    border: none;
    background: rgba(238, 75, 90, 1);
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#cookieModal p {
    color: black;
    font-size: 15px;
    line-height: 1.5em;
}

.block-cookies__title {
    text-align: center;
    font: 700 23px Axiforma,Arial,serif;
    margin: 35px auto;
    color: #7b68ee;
}

.block-cookies__subtitle {
    font: 700 18px Axiforma,Arial,serif;
    margin-bottom: 20px;
    text-align: left;
}

.content_col{
    max-height: 30em;
    overflow: auto;
}


/* End of classes for default cookies modal */