/*Button Classes*/

.BtnDivClass {
    text-align: center;
}

.BtnClass, .BtnClass:hover {
    /* background-color: RGB(79, 129, 189) !important; */
    background-color: white !important;
    color: rgba(58, 177, 213, 1) !important;
    border: 1px solid rgba(58, 177, 213, 1) !important;
    /* border: none !important;
    color: white !important; */
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    /* display: inline-block !important; */
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    font-weight: bolder;
}

/*End Of Button Classes*/

/*File classes*/

/*End Of File classes*/

/* media query for growing and shrinking */

@media (max-width: 600px) {
    .searchSubDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column
    }
}

/* End of media query for growing and shrinking */

/* Start of Table Classes */

table.datatable {
    border-collapse: collapse !important;
}

.trsingleDiv {
    /* border: 1px solid black !important; */
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 1px 6px;
    /* background-color: rgba(243, 248, 255, 1) !important; */
    margin-bottom: 1em;
}

.irtexdbClass {
    /* display: none; */
    width: 85% !important;
    display: table;
    float: left;
}

.TheadClass {
    text-align: center;
}

.tableImgClass {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    height: 12em;
    width: 16em;
}

.dataTables_wrapper {
    /* width: 70%; */
    margin: auto;
}

.row {
    display: flex;
}

.dataTables_paginate {
    padding-right: 12em;
}

/* explain button styles in table */

.ExplainBtnClass, .ExplainBtnClass:hover {
    /* background-color: rgba(58, 177, 213, 1) !important; */
    background-color: white !important;
    color: rgba(44, 113, 161, 1) !important;
    border: 1px solid rgba(44, 113, 161, 1) !important;
    /* border: none !important;
    color: white !important; */
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    font-weight: bolder;
}

.ExpDisBtnClass, .ExpDisBtnClass:hover {
    /* background-color: rgba(58, 177, 213, 1) !important; */
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    font-weight: bolder;
}

/* End of explain button styles in table */

/* visual explanation compare button styles in table */

.VisualBtnClass, .VisualBtnClass:hover {
    /* background-color: rgb(238, 130, 238) !important;
    border: none !important;
    color: white !important; */
    background-color: white !important;
    color: rgba(44, 113, 161, 1) !important;
    border: 1px solid rgba(44, 113, 161, 1) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    font-weight: bolder;
}

/* ENd of visual explanation compare button styles in table */

/* visual explanation close button in popup styles in table */

.visualCloseBtn, .visualCloseBtn:hover {
    background-color: RGB(46, 101, 38) !important;
    color: white !important;
    padding: 9px 12px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    cursor: pointer !important;
    opacity: 1 !important;
    text-shadow: none !important;
}

/* End of visual explanation close button in popup styles in table */

.match-row {
    padding: 10px 0;
    /* margin: 0 2px 24px 2px; */
}

.match-thumb {
    padding: 0;
    text-align: center;
    width: 160px;
    margin-right: 16px;
}

.match {
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 0;
}

/* End of Table Classes */

/* to hide the watermakr by zingchart */

#visualdialog-license-text {
    display: none !important;
}

/********************************************** Loader Classes *********************************************************/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../Images/Loader.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
    background: rgba( 255, 255, 255, .8) url('../Images/Loader.gif') 50% 50% no-repeat;
}

/********************************************** End Of Loader Classes *********************************************************/

/* New Classes for better view*/

.search-container {
    background-color: rgba(44, 113, 161, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-container .imageSearchDiv {
    z-index: 100;
    position: relative;
    color: #fff;
}

.search-container .imageSearchDiv .formsDiv {
    position: relative;
    overflow: hidden;
}

.search-container .imageSearchDiv #formupload-button {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    background-color: #3572af;
    background-position: -10px -10px;
    background-repeat: no-repeat;
    background-image: url(../Images/upload.png);
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-container .imageSearchDiv #formupload_box {
    position: fixed;
    top: -1000px;
}

.search-container .imageSearchDiv .input-container {
    position: absolute;
    left: 50px;
    right: 38px;
}

.search-container .imageSearchDiv .image-url {
    display: block;
    float: left;
    color: #333;
    width: 100%;
    overflow: hidden;
    height: 40px;
    padding: 10px;
    margin: 0;
    outline: 0;
    border: none;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.search-container .imageSearchDiv .submit-button {
    display: block;
    position: absolute;
    right: 0;
    background-color: #3572af;
    background-position: -12px -10px;
    background-repeat: no-repeat;
    background-image: url(../Images/search.png);
    min-width: 40px;
    height: 40px;
    margin: 0;
    outline: 0;
    border: none;
    border-left: 1px solid #fff;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    opacity: 1;
}

.customh1 {
    /* font-size: calc(2.8em + 2.6vw); */
    font-weight: 100;
    letter-spacing: .01em;
    /* padding: 10rem 0 0 4.5rem; */
    text-shadow: 0.022em 0.022em 0.022em #111;
    color: #fff;
}

.imgVerCenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.modalVertical {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center
}

/* End Of New Classes for better view*/

/* slideshow classes */

.carImgHeight {
    max-height: 100% !important;
    max-width: 100% !important;
    margin: auto !important;
    height: 20em !important;
    cursor: pointer;
    /* width: 16em !important; */
}

/* classes for default cookies modal */

#cookieModal h2:first-child {
    color: rgba(238, 75, 90, 1);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.cookieBtn {
    margin-bottom: 0;
    text-align: right;
}

#cookieModal button {
    border: none;
    background: rgba(238, 75, 90, 1);
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#cookieModal p {
    color: black;
    font-size: 15px;
    line-height: 1.5em;
}

.block-cookies__title {
    text-align: center;
    font: 700 23px Axiforma, Arial, serif;
    margin: 35px auto;
    color: #7b68ee;
}

.block-cookies__subtitle {
    font: 700 18px Axiforma, Arial, serif;
    margin-bottom: 20px;
    text-align: left;
}

.content_col {
    max-height: 30em;
    overflow: auto;
}

/* End of classes for default cookies modal */

/* classes for the select filter */

/* .sorting-row {
    padding-top: 20px;
} */

.sorting-row .sort {
    display: inline-block;
    width: 220px;
    padding-bottom: 10px;
    vertical-align: top;
}

.sorting-row button {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #c2ced9;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 13px;
    color: #5d6876;
    width: 190px;
    height: 40px;
    font-weight: 400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sorting-row .dropdown-menu {
    width: 190px;
    box-shadow: none;
    border: 2px solid #c2ced9;
    top: 45px;
}

.sorting-row button span {
    float: right;
    margin-top: 10px;
}

.sorting-row .dropdown-menu li {
    list-style-type: none;
}

.sorting-row .dropdown-menu a {
    font-size: 13px;
    line-height: 30px;
    cursor: pointer;
}

/* End of classes for the select filter */

/* captcha classes */

.captcha_appCls {
    border: 2px dashed #ddd;
    border-radius: 3px;
    background-color: #f4f7fa;
    padding: 10px 40px;
    margin: 0;
    font-size: 0;
    white-space: nowrap;
    font-size: 0;
    list-style: none;
    display: inline-block;
}

.captcha_appCls li.cursor-pointer {
    cursor: pointer;
}

.captcha_appClsli {
    display: inline-block;
    vertical-align: top;
    height: 33px;
    box-sizing: content-box;
    line-height: 32px;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 30px;
    margin: 0 5px;
    padding: 0;
}

.captchabordered {
    background-color: #fff;
    border: 1px solid #ccc;
    vertical-align: inherit;
    height: inherit;
    line-height: 1.5;
    border: none;
}

.captchaptag {
    font-size: 16px;
    line-height: 1.5;
    padding: 0.5em 1em;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 3px;
    margin-bottom: 0px !important;
}

.captchainputbox {
    line-height: 1.5;
    font-size: 16px;
    padding: 0.5em 1em;
    height: inherit;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 3px;
}

.captchaBtnPrim, .captchaBtnPrim:hover {
    border: none !important;
    background: rgba(0, 172, 138, 1) !important;
    color: white !important;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 15px !important;
    padding: 7px !important;
    border-radius: 3px !important;
    margin-left: 15px !important;
    cursor: pointer !important;
    transition: all 0.3s ease-in !important;
}

.captchaBtn {
    margin: 10px;
    text-align: right;
}

/* End of captcha classes */

/* Start of visual explanation classes */

.cmpCls {
    max-width: 95%;
    /* do not stretch the bootstrap column */
}

.cmpCaption {
    justify-content: center;
}

.otherlbl {
    background-color: #e7e7e7;
    color: black;
    font-size: x-large;
}

.labelCls {
    padding: 8px;
    font-family: Arial;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid rgba(44, 113, 161, 1) !important;
    background: rgba(44, 113, 161, 1) !important;
    font-weight: normal !important;
    color: #ffffff !important;
}

.tabTableCls {
    text-align: center;
}

.col-container {
    display: table;
    width: 100%;
}

.colNew {
    display: table-cell;
    padding: 16px;
}

.CmpBtnClass {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #c2ced9;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 13px;
    color: #5d6876;
    width: 190px;
    height: 40px;
    font-weight: 400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.CmpTExplainBtnClass, .CmpTExplainBtnClass:hover {
    /* background-color: rgba(58, 177, 213, 1) !important; */
    background-color: white !important;
    color: rgba(44, 113, 161, 1) !important;
    border: 1px solid rgba(44, 113, 161, 1) !important;
    /* padding: 15px 32px !important; */
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    /* font-weight: bolder;*/
}

.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

/* .table-fixed tbody td, .table-fixed thead > tr> th {
    /* float: left; */

/* border-bottom-width: 0; */

/* } */

/* End of visual explanation classes */